    #preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-top: 150px;
        width: 80%;

    }

    #logo {
        margin: auto;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .badge {
        float: left;

    }

    a.custom-card,
    a.custom-card:hover {
        color: inherit;
        text-decoration: none;
    }

    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    .row.gy-5 {
         width: 100%;
        margin: auto;
    }

    .navbar-nav > li {
        padding-left: 50px;
        padding-right: 50px;
    }

    .navbar-nav > li {
        margin-left: 0px;
        margin-right: 0px;
    }

    .card {
        margin: auto;
        max-width: 400px;
        min-width: 300px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
        cursor: pointer;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }

    body {
        min-width: 500px;
    }